name: CI/CD

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: adopt
          java-package: jdk
          architecture: x64
          check-latest: false
          server-id: github
          server-username: GITHUB_ACTOR
          server-password: GITHUB_TOKEN
          overwrite-settings: true
          job-status: success

      - name: Build with Maven
        run: mvn clean package

      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push Docker image
        run: |
          docker build -t kangbyeonggyu/awstest .
          docker push kangbyeonggyu/awstest

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-2

      - name: Deploy to ECS
        run: |
          task_definition=$(aws ecs register-task-definition --cli-input-json '{
            "family": "task1",
            "containerDefinitions": [
              {
                "name": "container1",
                "image": "kangbyeonggyu/awstest",
                "cpu": 256,
                "memoryReservation": 512
              }
            ]
          }')

          task_revision=$(echo $task_definition | jq -r '.taskDefinition.revision')

          echo "Created new task definition revision: $task_revision"
            
          aws ecs update-service --cluster dc --service cicd --task-definition task1
